<!-- <p>{{theQuote.entry}}</p> -->
<!-- <ul>
  <div *ngFor='let new of quoteEntry;let i =index' >
    <li id="{{i}}">{{new.newText}}</li>
    <p id="{{i}}">{{new.votes}}</p>
<div class="col-md-6">
      <li *ngFor='let kwot of quotes' class="kwot-display">{{ kwot.quote }}</li>
    </div>
  </div>
</ul> -->

<!-- <p>{{quote.author}}</p> -->
<!-- <p>{{quote.votes}}</p> -->
<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-md-12"> -->
      <!-- <app-quote-form (addTextEntry)= 'addTextEntries($event)'></app-quote-form> -->
      <!-- <app-goal-details *ngIf='goal.showDescription' [goal]='goal' (isComplete)='deleteQuote($event,i)'></app-goal-details> -->
    <!-- </div>
  </div>
</div> -->
<p>{{quote.votes}}</p>
<button class="btn btn-danger" (click)='deleteQuote(true)'>Delete a Quote</button>
