<!-- <p>
  quote works!
</p> -->
<!-- <div class="jumbotron">
  <div class="row"></div>
  <nav class="nav">
    <div class="nav-left">
      <a class="nav-item">
        <div class="jumbotron">
              <h1></h1>
            </div>
      </a>
    </div>

    <div class="nav-center">
      <a class="nav-item">
        <span class="icon">
          <i class="fa fa-github"></i>
        </span>
      </a>
      <a class="nav-item">
        <span class="icon">
          <i class="fa fa-twitter"></i>
        </span>
      </a>
    </div>

    <span class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>

    <div class="nav-right nav-menu">
      <div class="nav-item">
        <div class="field is-grouped">
          <p class="control">
            <a class="button">
              <span class="icon">
                <i class="fa fa-twitter"></i>
              </span>
              <span>Tweet</span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </nav>
  <ul>
    <h1>
      <i class="fa fa-quote-left"></i>Quotes
      <i class="fa fa-quote-right"></i>
    </h1>
  </ul>
  <hr>
</div> -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 header">
      <h1>
        <i class="fa fa-quote-left"></i>
        <span class="text-uppercase">Quotes</span>
        <i class="fa fa-quote-right"></i>
      </h1>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <app-quote-form (sendQuote)="receiveQuote($event)"></app-quote-form>
      </div>
      <div class="col-md-6">
        <div *ngFor="let kwot of theQuotes; let i = index">
          <h3 id="{{i}}">{{ kwot.theQuote }}</h3>
          <h4 id={{i}}>-{{ kwot.author }}</h4>
          <small id={{i}}>{{ kwot.person }}</small>
          <p id="{{i}}">~Submitted {{ kwot.timeCreated | timeCount }} days ago~</p>
          <button><i class="fa fa-thumbs-up" aria-hidden="true"></i><span style="font-size: 1.5em; color: deeppink;"(click)="adding(i)">UpVote</span></button>
          <button><i class="fa fa-thumbs-down" aria-hidden="true"></i><span style="font-size: 1.5em; color: deepskyblue;"(click)="removing(i)">DownVote</span></button>
          <app-quote-details [quote]='kwot' (isComplete)='deleteQuote($event,i)'></app-quote-details>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <!-- <div class="footer"> -->
  <div class="footer-text">
    <ul class="list-inline">
      <li class="list-inline-item">
        <a href="#">
          <i class="fa fa-github fa-2x"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://twitter.com/sarah_ndeti" target="_blank">
          <i class="fa fa-twitter fa-2x"></i>
        </a>
      </li>
    </ul>
  </div>
  <!-- <div class="footer-text"> -->
  <p>&#169; 2018 Created By Sarah Marion</p>
  <!-- </div> -->
</div>

<!-- <div class="row"> -->
<!-- <div class="col-md-6">
      <li *ngFor='let kwot of quotes' class="kwot-display">{{ kwot.quote }}</li>
    </div> -->


<!-- <app-goal-details *ngIf='goal.showDescription' [goal]='goal' (isComplete)='deleteQuote($event,i)'></app-goal-details> -->
