<!-- <p>
  quote works!
</p> -->
<div class="jumbotron">
  <h1>Quotes</h1>
  <hr>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <li *ngFor='let kwot of quotes' class="kwot-display">{{ kwot.quote }}</li>
    </div>

    <div class="col-md-6">
      <app-quote-form></app-quote-form>
      <ul>
        <i class="fa fa-quote-right"></i>
        <i class="fa fa-quote-left"></i>
      </ul>
    </div>
  </div>
</div>

<!-- <app-goal-details *ngIf='goal.showDescription' [goal]='goal' (isComplete)='deleteQuote($event,i)'></app-goal-details> -->
