<!-- <p>
  quote works!
</p> -->
<div class="jumbotron">
  <ul>
    <i class="fa fa-quote-left"></i>
    <h1>Quotes</h1>
    <i class="fa fa-quote-right"></i>
  </ul>
  <hr>
</div>
<div *ngFor="let kwot of theQuotes; let i = index">
  <h3 id="{{i}}">{{ kwot.theQuote }}</h3>
  <h4 id={{i}}>-{{ kwot.author }}</h4>
  <small id={{i}}>{{ kwot.person }}</small>
  <button (click)="adding(i)">Up</button>
  <button (click)="removing(i)">Down</button>
  <app-quote-details [quote]='kwot' (isComplete)='deleteQuote($event,i)'></app-quote-details>
</div>
<br>
<div class="container">
  <div class="row">
    <!-- <div class="col-md-6">
      <li *ngFor='let kwot of quotes' class="kwot-display">{{ kwot.quote }}</li>
    </div> -->

    <div class="col-md-6">
      <app-quote-form (sendQuote)="receiveQuote($event)"></app-quote-form>
    </div>
  </div>
</div>

<!-- <app-goal-details *ngIf='goal.showDescription' [goal]='goal' (isComplete)='deleteQuote($event,i)'></app-goal-details> -->
